#animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: orange;
    width: 100%;
    height: 400px;
    margin-top: 12rem;
}

#animation-box {
    width: 400px;
    height: 400px;

    background-color: red;
    color: white;

    line-height: 23em;
    position: relative;

    /* transform: rotate(120deg); */
    /* transform: rotate(360deg); */
    /* transform: skewX(10deg); */
    /* transform: skew(10deg 20deg); */
     /* transform: skew(50deg, 50deg);      */
}

#animation-box:hover {
    transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.5s;
}
